/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
}
.menu{
  background-color: darkblue;
  color: white;
  line-height: 2em;
}
nav{
  display: none;
}
#menuToggle{
  display: flex;
}
.menu-toggle{
  display: flex;
  background-color: grey;
}
.test{
  background-color: lightgrey;
}
/* .menu:hover ~ nav{
  display: flex;
}TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */


.menu{
  display: none;
}
  body {
    background: #cfc;
  }
nav{
  display: flex;
}
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
